In [1]:
list1 = list(range(21,31))
list2 = list(range(31,35))

print(list1)
print(list2)

[21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[31, 32, 33, 34]

In [2]:
list(zip(list1,list2))

[(21, 31), (22, 32), (23, 33), (24, 34)]

In [3]:
str1 = 'September'
str2 = 'October'

In [4]:
list(zip(str1,str2))

[('S', 'O'),
 ('e', 'c'),
 ('p', 't'),
 ('t', 'o'),
 ('e', 'b'),
 ('m', 'e'),
 ('b', 'r')]

In [5]:
# Try zip() for:
# Set
# Tuple
# Dictionary

# Map

In [6]:
input_list = list(range(31,41))
print(input_list)

[31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [7]:
output_list = []
for i in input_list:
    output_list.append(i-5)
#
print(output_list)

[26, 27, 28, 29, 30, 31, 32, 33, 34, 35]

In [8]:
# To subtract 5 from each list item
[num-5 for num in input_list]

[26, 27, 28, 29, 30, 31, 32, 33, 34, 35]

In [10]:
# 1. Subtract 5 from each list item
# 2. Check if the number is even or odd
# 3. If number is even, multiply it with 2
# 4. If number is odd, multiply it with 3

In [10]:
input_list

[31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [11]:
output_list = []
for num in input_list:
    num = num-5
    # print(num)
    if num%2 == 0:
        output_list.append(num * 2)
    else:
        output_list.append(num * 3)
#    
print(output_list)

[52, 81, 56, 87, 60, 93, 64, 99, 68, 105]

In [ ]:
# 12
# 12-5 --> 7
# 7%2 --> 1 ---> Else block --> 7*31


# 9
# 9-5 --> 4
# 4%2 --> 0 --> If block --> 4*2

In [14]:
def some_operation(num):
    num = num-5
    # print(num)
    if num%2 == 0:
        return num*2
    else:
        return num*3
##

In [15]:
input_list

[31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [17]:
some_operation(34)

87

In [18]:
output_list = []
for num in input_list:
   result = some_operation(num)
   print(f"num:{num}  result:{result}")
   output_list.append(result)
#
print(output_list)

num:31  result:52
num:32  result:81
num:33  result:56
num:34  result:87
num:35  result:60
num:36  result:93
num:37  result:64
num:38  result:99
num:39  result:68
num:40  result:105
[52, 81, 56, 87, 60, 93, 64, 99, 68, 105]

In [20]:
output_list = []
for num in input_list:
   output_list.append(some_operation(num))
#
print(input_list)
print(output_list)

[31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
[52, 81, 56, 87, 60, 93, 64, 99, 68, 105]

In [23]:
input_list

[31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [25]:
list(map(some_operation,input_list))

[52, 81, 56, 87, 60, 93, 64, 99, 68, 105]

In [26]:
input_list2 = list(range(11,21))
input_list3 = list(range(21,31))
input_list4 = list(range(51,61))

print(input_list2)
print(input_list3)
print(input_list4)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [27]:
print(list(map(some_operation, input_list2)))
print(list(map(some_operation, input_list3)))
print(list(map(some_operation, input_list4)))

[12, 21, 16, 27, 20, 33, 24, 39, 28, 45]
[32, 51, 36, 57, 40, 63, 44, 69, 48, 75]
[92, 141, 96, 147, 100, 153, 104, 159, 108, 165]

In [28]:
print(input_list2)
print(input_list3)
print(input_list4)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [32]:
# Add each element of 3 input lists
# Ex: 11 + 21 + 51

In [29]:
def add_inputs(a,b,c):
    return a+b+c

In [30]:
add_inputs(11,21,51)

83

In [31]:
list(map(add_inputs,input_list2,input_list3,input_list4))

[83, 86, 89, 92, 95, 98, 101, 104, 107, 110]

In [32]:
lst1 = list(range(1,6))
lst2 = list(range(2,7))
lst3 = list(range(4,9))

print(lst1)
print(lst2)
print(lst3)

[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6]
[4, 5, 6, 7, 8]

In [34]:
list(map(add_inputs,lst1,lst2,lst3))

[7, 10, 13, 16, 19]

In [37]:
add_inputs??

Signature: add_inputs(a, b, c)
Docstring: <no docstring>
Source:
def add_inputs(a,b,c):
    return a+b+c
File:      c:\users\vijaya nandini\appdata\local\temp\ipykernel_6732\453516536.py
Type:      function

In [47]:
str_list1 = ['a','b','c','d']
str_list2 = ['A','B','C','D']
str_list3 = ['w','x','y','z']

In [48]:
list(map(add_inputs,str_list1,str_list2,str_list3))

['aAw', 'bBx', 'cCy', 'dDz']

In [50]:
'a' + 'A' + 'w'

'aAw'

In [51]:
# Try map() for:
# Tuple
# Set
# Dictionary

# Filter

In [52]:
input_list = list(range(0,20))
print(input_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [47]:
# Print even number

In [53]:
[i for i in input_list if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [55]:
def is_num_even(num):
    '''
    If the number is even return True, 
    else(i.e., if the number is odd) return False.
    '''
    if num%2 == 0:
        return True
    else:
        return False

In [56]:
input_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [57]:
list(filter(is_num_even,input_list))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [59]:
is_num_even(1)

False

In [60]:
input_list2

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [61]:
list(filter(is_num_even, input_list2))

[12, 14, 16, 18, 20]

In [63]:
is_num_even(12)

True

In [64]:
# 1. Filter numbers that are divisible by 5
def is_divisible_by_5(num):
    if num%5 == 0:
        return True
    else:
        return False

In [65]:
input_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [66]:
list(filter(is_divisible_by_5, input_list))

[0, 5, 10, 15]

# ASCII character encoding and decoding functions

In [67]:
# a - 97
# b - 98

In [69]:
ord??

Signature: ord(c, /)
Docstring: Return the Unicode code point for a one-character string.
Type:      builtin_function_or_method

In [68]:
# Ordinal - to give ascii for the input character
ord('a')

97

In [70]:
ord('@')

64

In [71]:
# character -- to give corresponding character for given ascii value
chr(68)

'D'

In [72]:
chr(78)

'N'

In [73]:
ord('*')

42

In [74]:
chr(47)

'/'

In [75]:
a = input('Enter first input: ')
b = input('Enter second input: ')

print(a, type(a))
print(b, type(b))
print( a + b )

12 <class 'str'>
2 <class 'str'>
122

In [76]:
'12' + '2'

'122'

# To be discussed in tomorrow's class

# Simple calculator

In [ ]:
operation = input('Enter the operation you want to perform (+, -, * , /): ')
a = input('Enter first input: ')
b = input('Enter second input: ')
print(f'a: {a}, b: {b}')

if operation == '+':
    print('Addition is selected')
    result = int(a) + int(b)
elif operation == '-':
    print('Subtraction is selected')
    result = int(a) - int(b)
elif operation == '*':
    print('Multiplication is selected')
    result = int(a) * int(b)
elif operation == '/':
    print('Division is selected')
    result = int(a) / int(b)
else:
    print('Invalid operation is selected')
    result = None

print( result )

In [96]:
# Is number divisible by 5

In [ ]:
input_list = list(range(20))
print(input_list)

In [99]:
def is_divisible_by_5(num):
    if num%5 == 0:
        return True
    else:
        return False

In [ ]:
list(filter(is_divisible_by_5,input_list))

In [ ]:
lambda num: True if num%5==0 else False

In [ ]:
list(filter(lambda num: True if num%5==0 else False, input_list))

In [ ]:
[num for num in input_list if num%5==0]