In [3]:
import datetime
datetime.datetime.now()

# or 

from datetime import datetime, timedelta
datetime.now()

datetime.datetime(2025, 1, 23, 19, 16, 17, 731222)

In [4]:
print(datetime.now())

2025-01-23 19:16:23.914267

In [5]:
current_time = datetime.now()

Refer this link for complete list of formatters:<br>
https://docs.python.org/3/library/time.html#time.strftime

In [7]:
datetime.strftime(current_time, '%d %m %Y')

'23 01 2025'

In [8]:
datetime.strftime(current_time, '%d-%m-%Y')

'23-01-2025'

In [9]:
datetime.strftime(current_time, '%d/%m/%Y')

'23/01/2025'

In [11]:
print(current_time)

2025-01-23 19:16:40.995764

In [12]:
type(current_time)

datetime.datetime

In [10]:
datetime.strftime(current_time, "%d/%m/%Y %H:%M:%S")

'23/01/2025 19:16:40'

In [15]:
datetime.strftime(current_time, "%Y %B %d, %H:%M:%S")

'2025 January 23, 19:16:40'

In [17]:
datetime.strftime(datetime.now(), "%Y %B %d, %H:%M:%S") # Date to string conversion

'2025 January 23, 19:25:19'

In [19]:
formatted_time_str = datetime.strftime(datetime.now(), "%Y %B %d, %H:%M:%S") # 
print(formatted_time_str)
print(type(formatted_time_str))

# formatter --> "%Y %B %d, %H:%M:%S"

2025 January 23, 19:26:44
<class 'str'>

In [21]:
'10'  # Integer in string format

'10'

In [22]:
'12.45'  # float in string format

'12.45'

In [23]:
'2025 January 23, 19:26:44'   # datetime in string format

'2025 January 23, 19:26:44'

In [25]:
print(formatted_time_str)
print(type(formatted_time_str))

2025 January 23, 19:26:44
<class 'str'>

In [26]:
datetime.strptime(formatted_time_str, "%Y %B %d, %H:%M:%S") # String to date conversion

datetime.datetime(2025, 1, 23, 19, 26, 44)

In [27]:
my_datetime = '10:34:04 Jan 20, 2025'

In [28]:
datetime.strptime(my_datetime, '%H:%M:%S %b %d, %Y')

datetime.datetime(2025, 1, 20, 10, 34, 4)

In [29]:
current_time = datetime.now()
print(current_time)

2025-01-23 19:32:55.579630

In [30]:
# To add 5 days to current date

In [31]:
delta_time = timedelta(days=5)

In [32]:
new_time = current_time + delta_time
print(new_time)

2025-01-28 19:32:55.579630

In [33]:
new_time = datetime.now() + timedelta(days=12)
print(new_time)

2025-02-04 19:35:27.891571

In [35]:
print(datetime.now() - timedelta(days=60))

2024-11-24 19:35:58.009601

In [39]:
print(datetime.now() + timedelta(hours=72))

2025-01-26 19:38:56.358284

In [40]:
print(datetime.now() + timedelta(hours=72, minutes=45))

2025-01-26 20:24:04.632955

In [37]:
timedelta?

Init signature: timedelta(self, /, *args, **kwargs)
Docstring:
Difference between two datetime values.

timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

All arguments are optional and default to 0.
Arguments may be integers or floats, and may be positive or negative.
File:           c:\users\vijaya nandini\appdata\local\programs\python\python311\lib\datetime.py
Type:           type
Subclasses:

# Age calculation

In [77]:
date_of_birth_str = "Dec 4, 2023"

# Dec 4, 2023 --> 0 years, 0 months, 0 days
# Dec 4, 2024 --> 1 year
# Jan 4, 2025 --> 1 year, 1 month
# Jan 23, 2025 --> 1 year, 1 month, 20 days

In [78]:
type(date_of_birth_str)

str

In [58]:
# String to time conversion
# datetime.strptime()

In [79]:
date_of_birth = datetime.strptime(date_of_birth_str, "%b %d, %Y")
print(date_of_birth)
print(type(date_of_birth))

2023-12-04 00:00:00
<class 'datetime.datetime'>

In [80]:
date_of_birth

datetime.datetime(2023, 12, 4, 0, 0)

In [81]:
print(date_of_birth.year)
print(date_of_birth.month)
print(date_of_birth.day)

2023
12
4

In [82]:
current_time = datetime.now()
print(current_time)
print(date_of_birth)

2025-01-23 19:51:35.624263
2023-12-04 00:00:00

In [83]:
# Calculation age
age = current_time - date_of_birth
print(age)

416 days, 19:51:35.624263

In [84]:
age.days

416

In [85]:
age_in_days = age.days
print(age_in_days)

416

In [69]:
14/5

2.8

In [89]:
40//31

1

In [90]:
40%31

9

In [86]:
age_in_days // 365

1

In [87]:
years = age_in_days // 365
print(years)

1

In [88]:
remaining_days = age_in_days % 365
print(remaining_days)

51

In [91]:
months = remaining_days // 31
print(months)

1

In [92]:
days = remaining_days % 31
print(days)

20

In [93]:
print(f"Age is:  {years} years, {months} months and {days} days")

Age is:  1 years, 1 months and 20 days

### Reverse calculation of age 
- Given input as 17 years , 8 months , 22 days
- Calculate date of birth

In [94]:
year = 1
month = 1
days = 20

In [95]:
days + month*31 + year*365

416

In [96]:
total_days = days + month*31 + year*365

In [98]:
print(datetime.now() - timedelta(days=total_days))

2023-12-04 19:57:41.428444

In [99]:
date_of_birth = datetime.now() + timedelta(days=-total_days)
print(date_of_birth)

2023-12-04 19:58:11.699594