In [25]:
class Person:
    print("Person class")
    location = "Vijayawada" # This is "class Attribute" or "Class level attribute"
    def __init__(self,name,age,mobile,aadhar):
        # Attributes within init constructor are called "Object Attributes" or "Object level Attributes"
        # In this case: name,age,mobile,aadhar
        print("This is Person initializer")
        self.name = name
        self.age = age
        self.mobile = mobile
        self.aadhar = aadhar
    # End of __init__ constructor
    
    def update_mobile(self,mobile_num):
        print("Person class: update_mobile function")
        self.mobile = mobile_num

    def get_person_attributes(self):
        print("Person class: get_person_attributes function")
        return {"name":self.name, "age":self.age, "mobile":self.mobile, "aadhar":self.aadhar}
#End of Person Class

Person class

In [26]:
p1 = Person(
    name="Krishna",
    age="54",
    mobile="9876543210",
    aadhar="1234567891011"
)

This is Person initializer

In [27]:
p1.get_person_attributes()

Person class: get_person_attributes function

{'name': 'Krishna',
 'age': '54',
 'mobile': '9876543210',
 'aadhar': '1234567891011'}

In [28]:
print(p1.name)  # Object level attributes
print(p1.age)
print(p1.mobile)
print(p1.aadhar)

Krishna
54
9876543210
1234567891011

In [30]:
Person.location

'Vijayawada'

In [31]:
p1.location # Class level attribute

'Vijayawada'

In [32]:
p2 = Person(
    name="Jagannath",
    age="65",
    mobile="9999888800",
    aadhar="897654231010"
)

This is Person initializer

In [33]:
# Object level attributes
print(p2.name)
print(p2.age)
print(p2.mobile)
print(p2.aadhar)

Jagannath
65
9999888800
897654231010

In [34]:
p2.location  # Class level attribute

'Vijayawada'

In [35]:
Person.location

'Vijayawada'

In [36]:
p2.location = "Guntur"

In [37]:
p2.location

'Guntur'

In [38]:
Person.location

'Vijayawada'

In [39]:
p1.location

'Vijayawada'

In [40]:
Person.location = "Gannavaram"

In [41]:
Person.location

'Gannavaram'

In [42]:
p1.location

'Gannavaram'

In [43]:
p2.location

'Guntur'

In [44]:
Person.location

'Gannavaram'

In [45]:
p3 = Person(
    name="Sita",
    age="45",
    mobile="0000000000",
    aadhar="000000000000"
)

This is Person initializer

In [46]:
# Object level attributes
print(p3.name)
print(p3.age)
print(p3.mobile)
print(p3.aadhar)

Sita
45
0000000000
000000000000

In [49]:
Person.location

'Gannavaram'

In [47]:
p3.location

'Gannavaram'

In [48]:
p1.location

'Gannavaram'

In [50]:
p2.location

'Guntur'