## Python Statements or Control flow
- We often only want certain code to execute when a particular condition has been met.
- For example, if  my dog is hungry (some condition), then I will feed the dog (some action).
- To control this flow of logic we use some keywords:
    - if
    - elif 
    - else
- Control Flow syntax makes use of colons and indentation (whitespace).
- This indentation system is crucial to Python and is what sets it apart from other programming languages.

In [1]:
a = 10
b = 5

In [3]:
a>b

True

In [2]:
if a > b:
    print("a is maximum")
print("This is out of if block")

a is maximum
This is out of if block

In [4]:
a < b

False

In [6]:
if a < b:
    print("a is minimum")
    print(a)
print("This is out of if block")

This is out of if block

## If-else

In [33]:
total_amount = 13000 # hard-coding

In [4]:
total_amount > 10000

True

In [5]:
if total_amount>10000: # Will be executed when if condition is True
    # Discount is 20 % 
    # amount to be paid is 80%
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:  # Will be executed when if condition is not True
    # Discount is 5 % 
    # amount to be paid is 95%
    total_payable = total_amount * 0.95
    print("This is from else-block")
## End of if-else
print("Total amount payable is ")
print(total_payable)

This is from if-block
Total amount payable is
10400.0

In [34]:
total_amount = 400
if total_amount>10000: # Will be executed when if condition is True
    # Discount is 20 % 
    # amount to be paid is 80%
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:  # Will be executed when if condition is not True
    # Discount is 5 % 
    # amount to be paid is 95%
    total_payable = total_amount * 0.95
    print("This is from else-block")
## End of if-else
print("Total amount payable is ")
print(total_payable)

This is from else-block
Total amount payable is
380.0

In [6]:
total_amount = 200

In [7]:
total_amount>10000

False

In [8]:
if total_amount>10000: # Will be executed when if condition is True
    # Discount is 20 % 
    # amount to be paid is 80%
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:  # Will be executed when if condition is not True
    # Discount is 5 % 
    # amount to be paid is 95%
    total_payable = total_amount * 0.95
    print("This is from else-block")

print("Total amount payable is ")
print(total_payable)

This is from else-block
Total amount payable is
190.0

In [32]:
200 + 0.95

200.95

In [9]:
200 * 0.95

190.0

# Accepting input at runtime

In [14]:
a = input("Enter any number") # The output of input function is in string format
print(a)
print(type(a))

345
<class 'str'>

In [15]:
a * 0.8

TypeError: can't multiply sequence by non-int of type 'float'

In [16]:
int(a)

345

In [17]:
int(a) * 0.8

276.0

In [35]:
total_amount_str = input("Enter total amount") # The output of input function is in string format
print(total_amount_str)
print(type(total_amount_str))
total_amount = int(total_amount_str)
print(type(total_amount))

400
<class 'str'>
<class 'int'>

In [26]:
print('total_amount: ', total_amount)
if total_amount>10000: # Will be executed when if condition is True
    # Discount is 20 % 
    # amount to be paid is 80%
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:  # Will be executed when if condition is not True
    # Discount is 5 % 
    # amount to be paid is 95%
    total_payable = total_amount * 0.95
    print("This is from else-block")

print("Total amount payable is:",total_payable)

total_amount:  11000
This is from if-block
Total amount payable is: 8800.0

In [29]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [28]:
print("Total amount payable is:",total_payable,sep='|')

Total amount payable is:|8800.0

In [39]:
total_amount = input("Enter total amount") # The output of input function is in string format
print(total_amount, type(total_amount))
total_amount = int(total_amount)
print(type(total_amount))

# print('total_amount: ', total_amount)
if total_amount>10000: # Will be executed when if condition is True
    # Discount is 20 % 
    # amount to be paid is 80%
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:  # Will be executed when if condition is not True
    # Discount is 5 % 
    # amount to be paid is 95%
    total_payable = total_amount * 0.95
    print("This is from else-block")
## End of if-else
print("Total amount payable is:",total_payable)

500 <class 'str'>
<class 'int'>
This is from else-block
Total amount payable is: 475.0

In [47]:
total_amount = input("Enter total amount") # The output of input function is in string format
print(total_amount, type(total_amount))
total_amount = int(total_amount)
print(type(total_amount))

# print('total_amount: ', total_amount)
if total_amount>10000: # Will be executed when if condition is True
    # Discount is 20 % , amount to be paid is 80%
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:  # Will be executed when if condition is not True
    if total_amount >= 5000:
        # Discount is 10% and amount to be paid is 90%
        total_payable = total_amount * 0.9
        print("This is from else block --> if")
    else:
        # Discount is 5% and amount to be paid is 95%
        total_payable = total_amount * 0.95
        print("This is from else block --> else")
    # End of internal if-else
# End of outer if-else
print("Total amount payable is:",total_payable)

5000 <class 'str'>
<class 'int'>
This is from else block --> if
Total amount payable is: 4500.0

In [46]:
5000 >= 5000

True

In [52]:
total_amount = input("Enter total amount") # The output of input function is in string format
print(total_amount, type(total_amount))
total_amount = int(total_amount)
print(type(total_amount))

if total_amount>10000: # Will be executed when if condition is True
    # Discount is 20 % , amount to be paid is 80%
    total_payable = total_amount * 0.8
    print("Applying 20% discount") 
elif total_amount >= 5000: # Will be executed when this elif condition is True
    # Discount is 10% and amount to be paid is 90%
    total_payable = total_amount * 0.9
    print("Applying 10% discount") 
elif total_amount >= 2000:
    # Discount is 7% and amount to be paid is 93%
    total_payable = total_amount * 0.93
    print("Applying 7% discount") 
else:
    total_payable = total_amount
    print("No discount is applied") 
##
print("Total amount payable is:",total_payable)

1200 <class 'str'>
<class 'int'>
No discount is applied
Total amount payable is: 1200

In [53]:
total_amount >= 2000

False

In [54]:
a = 'Red'

In [55]:
'Red' == 'Red'

True

In [56]:
'Red' == 'red'

False

In [57]:
'Red' == 'RED'  # CASE SENSITIVE

False

In [59]:
'Red'.lower()

'red'

In [60]:
'RED'.lower()

'red'

In [61]:
'Red'.lower() == 'RED'.lower()

True

In [62]:
'rED'.lower() == 'RED'.lower()

True

In [64]:
'red'.upper()

'RED'

In [65]:
'RED'.upper()

'RED'

In [66]:
'rED'.upper() == 'RED'.upper()

True

In [69]:
# Red, Yellow, Green
traffic_light = input("Enter input as RED, YELLOW, GREEN: ")
print("traffic_light: ", traffic_light)

if traffic_light.upper() == 'GREEN':
    print("Go!")
elif traffic_light.upper() == 'YELLOW':
    print("Slow down")
elif traffic_light.upper() == 'RED':
    print("Stop")
else:
    print("Invalid input.")

traffic_light:  yello
Invalid input.

# List example

In [70]:
list1 = [1,2,3,4,5]

In [71]:
print(list1)

[1, 2, 3, 4, 5]

In [77]:
for i in [1,2,3]:
    print("Started iteration")
    print(i)
    print("Completed iteration")
    print("---------")
#
print("End of for loop")

Started iteration
1
Completed iteration
---------
Started iteration
2
Completed iteration
---------
Started iteration
3
Completed iteration
---------
End of for loop

In [78]:
print(list1)
for i in list1:
    print("Started iteration")
    print(i)
    print("Completed iteration")
    print("---------")
#
print("End of for loop")

[1, 2, 3, 4, 5]
Started iteration
1
Completed iteration
---------
Started iteration
2
Completed iteration
---------
Started iteration
3
Completed iteration
---------
Started iteration
4
Completed iteration
---------
Started iteration
5
Completed iteration
---------
End of for loop

In [81]:
10 < 5

False

In [83]:
a = 1
if a < 5:
    print(a)

1

In [86]:
a = 1
while a < 5:
    print(a)
    a = a + 1

1
2
3
4

In [7]:
a = 1
while a < 5:
    print(a)
    a = a + 1 #  Infinite loop, without this line

1
2
3
4