# Set Comprehensions
- Set Comprehensions are similar to List Comprehension.
- If you find yourself using a for loop along with .add() to create a set, Set Comprehensions are a good alternative!

In [7]:
input_set = {1,2,3,4,5,6,7,6,5,4,3,2,1}

In [9]:
input_set

{1, 2, 3, 4, 5, 6, 7}

In [99]:
# Multiply each item with 5 and generate output set
output_set = set()

In [17]:
type(output_set)

set

In [31]:
output_set = set()
for i in input_set:
    print(i)
    output_set.add(i)
    print(output_set)
#

1
{1}
2
{1, 2}
3
{1, 2, 3}
4
{1, 2, 3, 4}
5
{1, 2, 3, 4, 5}
6
{1, 2, 3, 4, 5, 6}
7
{1, 2, 3, 4, 5, 6, 7}

In [29]:
# output_set.*?

In [19]:
# {} --> Empty Dictionary
# set() --> Empty Set

In [37]:
input_list1 = list(range(0,10))
input_list2 = list(range(0,20,2))
print(f'input_list1: {input_list1}')
print(f'input_list2: {input_list2}')

input_list1: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
input_list2: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [41]:
input_list = input_list1 + input_list2
print(f'input_list: {input_list}')

input_list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [47]:
'a' + 'b'

'ab'

In [49]:
input_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [67]:
# Generate set using above input_list
output_set = set()
for i in input_list:
    print(i, end=' ')
    output_set.add(i)
    print(output_set)
#

0 {0}
1 {0, 1}
2 {0, 1, 2}
3 {0, 1, 2, 3}
4 {0, 1, 2, 3, 4}
5 {0, 1, 2, 3, 4, 5}
6 {0, 1, 2, 3, 4, 5, 6}
7 {0, 1, 2, 3, 4, 5, 6, 7}
8 {0, 1, 2, 3, 4, 5, 6, 7, 8}
9 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
0 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
2 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
4 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
6 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
8 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
10 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
12 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12}
14 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14}
16 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16}
18 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18}

In [53]:
output_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18}

In [65]:
print('a', end=' * ')
print('b')
print('c')

a * b
c

In [69]:
input_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [73]:
9%5==0

False

In [75]:
[i for i in input_list]   # i%5==0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [77]:
# Generate set using above input_list
output_set = set()
for i in input_list:
    # print(i, end=' ')
    output_set.add(i)
    # print(output_set)
#
print(output_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18}

In [81]:
{i for i in input_list}

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18}

In [85]:
input_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [90]:
# Generate output set with each item multiplied by 5 of input_list item
{i*5 for i in input_list}

{0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90}

In [97]:
# Generate output set with each item multiplied by 5 of input_list item
# Also, output set items should be even


# [0,1,2,3,..]
# {}

# 0*5 --> 0 --> Even --> {0}
# 1*5 --> 5 --> Odd --> X
# 2*5 --> 10 --> Even --> {0, 10}
# 3*5 --> 15 --> Odd --> X
# 4*5 --> 20 --> Even --> {0, 10, 20}
# ...

In [95]:
input_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [105]:
{i*5 for i in input_list}

{0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90}

In [103]:
{i*5 for i in input_list if (i*5)%2==0}

{0, 10, 20, 30, 40, 50, 60, 70, 80, 90}

In [ ]:
# Generate output set 
# multiply each item by 5
# If result is even, add item multipled by 5
# else add item multiplied by 10


# input_list = [0,1,2,3,4,5,6..]
# output_set = {x,y,...}


# 0*5 = 0 --> Even --> 0*5  = 0 --> {0}
# 1*5 = 5 --> Odd --> 1*10 = 10 --> {0, 10}
# 2*5 = 10 --> Even --> 2*5 = 10 --> {0, 10, 10} --> {0, 10}
# 3*5 = 15 --> Odd --> 15 * 10 = 150 --> {0, 10, 150}
# 4*5 = 20 --> Even --> 4*5 = 20 --> {0,10,150,20} --> {0,10,20,150}
# 5*5 = 25 --> Odd --> 25*10 = 250 --> {0,10,20,150,250}
# ...

In [107]:
input_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [123]:
# Generate output set 
# multiply each item by 5
# If result is even, add item multipled by 5
# else add item multiplied by 10

output_set = set()
for i in input_list:
    # print(f'i:{i}')
    # print(f'i*5: {i*5}')
    # print(f'Condition: {(i*5)%2==0}')
    if (i*5)%2==0:
        output_set.add(i*5)
    else:
        output_set.add(i*10)
# End of for loop
print(output_set)

{0, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [111]:
input_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [143]:
# Generate output set 
# multiply each item by 5
# If result is even, add item multipled by 5
# else add item multiplied by 10

i = 9
# i = 10
# i = 16
# i = 5
print(f'i: {i}')
print(f'i*5: {i*5}')
print((i*5)%2==0)

i*5 if (i*5)%2==0 else i*10

i: 9
i*5: 45
False

90

In [145]:
input_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [147]:
# Generate output set 
# multiply each item by 5
# If result is even, add item multipled by 5
# else add item multiplied by 10

{i*5 if (i*5)%2==0 else i*10 for i in input_list}

{0, 10, 20, 30, 40, 50, 60, 70, 80, 90}

In [149]:
# Generate output set 
# divide each item by 2
# If reminder is 0, add item multipled by 0.5
# else (if reminder is 1) add item multiplied by 1.5

In [151]:
input_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [173]:
i = 7
# i = 12
# i = 16
print(f'i: {i}')
print(i%2==0)
i*0.5 if i%2==0 else i*1.5

i: 7
False

10.5

In [175]:
7*1.5
# 12*0.5
# 16*0.5

10.5

In [185]:
{i*0.5 if i%2==0 else i*1.5 for i in input_list}

{0.0, 1.0, 1.5, 2.0, 3.0, 4.0, 4.5, 5.0, 6.0, 7.0, 7.5, 8.0, 9.0, 10.5, 13.5}

In [171]:
input_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [179]:
1%2==0

False

In [190]:
# 0 --> True --> 0*0.5 = 0.0 --> {0.0}
# 1 --> False --> 1*1.5 = 1.5 --> {0.0, 1.5}
# 2 --> True --> 2*0.5 = 1.0 --> {0.0, 1.5, 1.0} --> {0.0, 1.0, 1.5}
# ...