In [2]:
def filter_even_numbers(numbers):
    print("This is start of filter_even_numbers")
    print(f"Input received is {numbers}") # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    even_numbers = [num for num in numbers if num%2==0]  # [2, ]
    print(f"Numbers to be returned {even_numbers}")
    print("This is end of filter_even_numbers")
    return even_numbers

In [3]:
def filter_odd_numbers(i):
    print("This is start of filter_odd_numbers")
    print(f"Input numbers: {i}")
    odd_numbers = [num for num in i if num%2==1]
    print(f"Values to be returned: {odd_numbers}")
    print("This is end of filter_odd_numbers")
    return odd_numbers

In [4]:
# Main Program
input_list = list(range(1,11))
print(input_list)
print("\n")

# even_list = []
# odd_list = []
if len(input_list) > 0:
    even_list = filter_even_numbers(input_list)
    odd_list = filter_odd_numbers(input_list)
    print(f"Even numbers: {even_list}")
    print(f"Odd numbers: {odd_list}")
else:
    print("Input list is empty and hence there are no even and odd numbers to print")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


This is start of filter_even_numbers
Input received is [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Numbers to be returned [2, 4, 6, 8, 10]
This is end of filter_even_numbers
This is start of filter_odd_numbers
Input numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Values to be returned: [1, 3, 5, 7, 9]
This is end of filter_odd_numbers
Even numbers: [2, 4, 6, 8, 10]
Odd numbers: [1, 3, 5, 7, 9]

In [7]:
def add(a,b):
    c = a+b
    print('This is test print statement')
    return c
    print('This is 4th line')
    print('This is last line')

In [10]:
output_value = add(10,11)
print(f"output_value: {output_value}")

This is test print statement
output_value: 21

In [13]:
def add2(a,b):
    return a+b

In [14]:
add2(1,2)

3

In [15]:
def add3(a=0,b=0):  # a and b has default values
    print("a: ",a)
    print("b: ",b)
    return a+b

In [16]:
add3()

a:  0
b:  0

0

In [17]:
add3(10)

a:  10
b:  0

10

In [18]:
add3(10,11)

a:  10
b:  11

21

In [1]:
def multiply(a=1,b=1):
    print("a: ",a)
    print("b: ",b)
    return a*b

In [2]:
multiply()

a:  1
b:  1

1

In [3]:
multiply(5)

a:  5
b:  1

5

In [4]:
multiply(5,2)

a:  5
b:  2

10

In [5]:
multiply(5,2,3)

TypeError: multiply() takes from 0 to 2 positional arguments but 3 were given

In [6]:
multiply(5,2,3,4)

TypeError: multiply() takes from 0 to 2 positional arguments but 4 were given

In [ ]:
# Alternative
def multiply(a,b,c):
    pass

In [140]:
# Variable length arguments
# multiply() --> 1
# multiply(5) --> 5
# multiply(5,2) ---> 5 * 2 = 10
# multiply(5,2,4) ---> 5 * 2 * 4 = 40
# multiply(5,2,4,3) ---> 5 * 2 * 4 * 3 = 120

In [38]:
def new_multiply(*args):
    print(f"args: {args}")  # ex: args <-- (5,2,4,3,6)
    result = 1
    for i in args:
        print(f"i:{i}")
        result = result * i
        print(f"result:{result}")
    # End of for loop
    return result
##

## i=4 --> result= 1*4 --> result=4
#  i=5 --> result=4*5  --> result=20
#  i=3 --> result=20*3 --> result=60

In [49]:
for i in ():
    print(i)
##
# () is empty tuple, and hence iterations will not start

In [51]:
for i in (100,):
    print(i)
##
# (100,) is tuple with single item, and hence for loop will iterate once

100

In [45]:
new_multiply()

args: ()

1

In [40]:
new_multiply(5,2,4)

args: (5, 2, 4)
i:5
result:5
i:2
result:10
i:4
result:40

40

In [41]:
new_multiply(5,2)

args: (5, 2)
i:5
result:5
i:2
result:10

10

In [42]:
new_multiply(5,2,4,3,4)

args: (5, 2, 4, 3, 4)
i:5
result:5
i:2
result:10
i:4
result:40
i:3
result:120
i:4
result:480

480

In [43]:
# *args allows variable length arguments
def multiply3(*args):
    result = 1
    for num in args:  # (5)
        print("inside for loop")
        result = result * num
    return result

In [52]:
multiply3()

1

In [53]:
multiply3(5)

inside for loop

5

In [54]:
multiply3(5,2)

inside for loop
inside for loop

10

In [55]:
multiply3(5,2,4)

inside for loop
inside for loop
inside for loop

40

In [56]:
multiply3(5,2,4,3)

inside for loop
inside for loop
inside for loop
inside for loop

120

In [57]:
multiply3(5,2,4,3,5)

inside for loop
inside for loop
inside for loop
inside for loop
inside for loop

600

In [59]:
# add_all() --> 0
# add_all(5) --> 5
# add_all(5,2) --> 5 + 2 = 7
# add_all(5,2,4) --> 5 + 2 + 4 = 11
# add_all(5,2,4,3) --> 5 + 2 + 4 + 3 = 14

def add_all(*numbers):
    print(f'numbers: {numbers}')
    result = 0
    for num in numbers:
        result = result + num
    # End of for loop
    return result

# numbers = (5,2,4,3)
# num=5, result=0+5 --> result=6
# num=2, result=5+2 --> result=7
# num=4, result=7+4 --> result=11
# num=3, result=11+3 --> result=14

In [60]:
add_all()

numbers: ()

0

In [61]:
add_all(5)

numbers: (5,)

5

In [62]:
add_all(5,2)

numbers: (5, 2)

7

In [63]:
add_all(5,2,4)

numbers: (5, 2, 4)

11

In [64]:
add_all(5,2,4,3)

numbers: (5, 2, 4, 3)

14

In [69]:
multiply(a=10,b=20)

a:  10
b:  20

200

In [70]:
multiply(a=10,b=20,c=30)

TypeError: multiply() got an unexpected keyword argument 'c'

In [75]:
# *args, **kwargs both allows variable length arguments
def my_data(**kwargs):
    print(f"kwargs: {kwargs}")
###

In [81]:
my_data()

kwargs: {}

In [82]:
my_data(student='vijaya',course='python',exp=None)

kwargs: {'student': 'vijaya', 'course': 'python', 'exp': None}

In [83]:
def add_with_kwargs_1(**kwargs):
    print('kwargs: ', kwargs)

In [87]:
add_with_kwargs_1(a=1,b=2)

kwargs:  {'a': 1, 'b': 2}

In [91]:
d1 = {'a': 1, 'b': 2, 'c': 5}
d1.items()

dict_items([('a', 1), ('b', 2), ('c', 5)])

In [94]:
def add_with_kwargs(**numbers):
    print('numbers: ', numbers)
    result = 0  # <<---
    for key, value in numbers.items():
        print('value:', value)
        result = result + value
        print('result:', result)
    #
    return result
##

# numbers = [('a', 1), ('b', 2), ('c', 5)]
# key='a', value=1 --> result=0+1  --> result=1
# key='b', value=2 --> result=1+2  --> result=3
# key='c', value=5 --> result=3+5  --> result=8

In [93]:
add_with_kwargs(a=1,b=2,c=5)

numbers:  {'a': 1, 'b': 2, 'c': 5}
value:  1
result:  1
value:  2
result:  3
value:  5
result:  8

8

In [95]:
add_with_kwargs(a=1,b=2)

numbers:  {'a': 1, 'b': 2}
value: 1
result: 1
value: 2
result: 3

3

In [96]:
add_with_kwargs(a=6,b=4,c=3)

numbers:  {'a': 6, 'b': 4, 'c': 3}
value: 6
result: 6
value: 4
result: 10
value: 3
result: 13

13

# Variable scoping

In [97]:
print(result) # result is defined inside add_with_kwargs()
# Variables defined with in a function will not be available outside of function

NameError: name 'result' is not defined

# 'pass' for function, loops and if-else blocks

In [ ]:
# Alternative
def multiply(a,b,c):
    pass   # --> We will implement later

In [ ]:
for i in input_list:
    pass

In [ ]:
a = 1
b = 3
if a>b:
    print("A is bigger")
elif a<b:
    print("B is bigger")
else:
    pass   # Nothing to happen

B is bigger